@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #225a3a;
  --secondary-color: #f7d6a5;
  --title: #fcf1d4;
  --contrast: #c18b5c;
  --text-base: #3e2815;
  --cta: #8b0000;
  --background: #111111;
  --text-color: #ffffff;  
  --gradient1: linear-gradient(135deg, #fcebbd, #c18b5c); 
  --gradient2: linear-gradient(135deg, #c18b5c, #3e2815);
  --font-base: "Roboto", sans-serif;
  --font-title: "Playfair Display", serif;
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: var(--font-base);
    text-decoration: none;
    list-style: none;
}

body {
    background-color: var(--background);
    color: var(--text-color);
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: var(--font-title);
    color: var(--title);
}

img {
    width: 100%; 
    height: auto; 
    object-fit: cover;
}

.btn {
margin: 20px;
padding: 12px 32px;
background: var(--gradiant1);
color: var(--text-color);
border: none;
border-radius: 10px;
cursor: pointer;
font-weight: bold;
letter-spacing: 0.5px;
transition: all 0.3s ease-in-out;
box-shadow: 4px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
background: var(--gradiant2);
transform: translateY(-3px) scale(1.03);
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.anuncio {
background: var(--background);
color: var(--text-color);
text-align: center;
padding: 8px 0;
font-size: 14px;
white-space: nowrap;
}

.anuncio-conteudo {
display: inline-block;
overflow: hidden;
}

.anuncio-counteudo p {
display: inline-block;
animation: textCorrido 10s linear infinite;
}

@keyframes textCorrido {
0% {
transform: translateX(100%);
}
100% {
transform: translateX(-100%);
}
}

.topo {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 100px;
background-color: var(--text-color);
position: sticky;
top: 0;
width: 100%;
z-index: 1000;
}

.topo picture {
max-width: 100px;
}

.topo nav {
display: flex;
gap: 20px;
}